In [2]:
import pandas as pd
import numpy as np
import yfinance as yf

In [3]:
msft = yf.Ticker("AAPL")
print(msft)

yfinance.Ticker object <AAPL>

In [4]:
msft.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 127.79,
 'regularMarketOpen': 128.41,
 'twoHundredDayAverage': 123.07263,
 'trailingAnnualDividendYield': 0.006315048,
 'payoutRatio': 0.2177,
 'volume24Hr': None,
 'regularMarketDayHigh': 128.72,
 'navPrice': None,
 'averageDailyVolume10Day': 133624516,
 'totalAssets': None,
 'regularMarketPreviousClose': 127.79,
 'fiftyDayAverage': 132.59454,
 'trailingAnnualDividendRate': 0.807,
 'open': 128.41,
 'toCurrency': None,
 'averageVolume10days': 133624516,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.82,
 'exDividendDate': 1612483200,
 'beta': 1.267876,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 125.015,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 33.935448,
 'regularMarketVolume': 102260945,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2100527104000,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 106703761,
 'priceToSalesTrailing12Months': 7.141371,
 'dayLow': 125.015,
 'ask': 125.61,
 'ytdReturn': None,
 'askSize': 1100,
 'volume': 102260945,
 'fiftyTwoWeekHigh': 145.09,
 'forwardPE': 26.735044,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.42,
 'fiftyTwoWeekLow': 53.1525,
 'bid': 125.59,
 'tradeable': False,
 'dividendYield': 0.0064,
 'bidSize': 800,
 'dayHigh': 128.72,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.413,
 'beta3Year': None,
 'profitMargins': 0.21735,
 'enterpriseToEbitda': 25.606,
 '52WeekChange': 0.68844557,
 'morningStarRiskRating': None,
 'forwardEps': 4.68,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16788100096,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 3.936,
 'sharesShort': 88329668,
 'sharesPercentSharesOut': 0.0053,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.59661996,
 'netIncomeToCommon': 63929999360,
 'trailingEps': 3.687,
 'lastDividendValue': 0.205,
 'SandP52WeekChange': 0.24654007,
 'priceToBook': 31.788618,
 'heldPercentInsiders': 0.00065,
 'nextFiscalYearEnd': 1664150400,
 'mostRecentQuarter': 1608940800,
 'shortRatio': 0.88,
 'sharesShortPreviousMonthDate': 1610668800,
 'floatShares': 16770804261,
 'enterpriseValue': 2180567793664,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1612483200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.293,
 'dateShortInterest': 1613088000,
 'pegRatio': 2.02,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0053,
 'sharesShortPriorMonth': 99897228,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 128.41,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [5]:
msft.history(period="100d")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-10-07,114.251867,115.178880,113.763435,114.710388,96849000,0.0,0
2020-10-08,115.876626,116.026146,114.221954,114.600739,83477200,0.0,0
2020-10-09,114.909740,116.624217,114.550896,116.594315,100506900,0.0,0
2020-10-12,119.674393,124.777951,118.896899,124.000458,240226800,0.0,0
2020-10-13,124.867649,124.987266,119.265705,120.711044,262330500,0.0,0
...,...,...,...,...,...,...,...
2021-02-24,124.940002,125.559998,122.230003,125.349998,111039900,0.0,0
2021-02-25,124.680000,126.459999,120.540001,120.989998,148199500,0.0,0
2021-02-26,122.589996,124.849998,121.199997,121.260002,164320000,0.0,0
2021-03-01,123.750000,127.930000,122.790001,127.790001,115998300,0.0,0
2021-03-02,128.410004,128.720001,125.014999,125.120003,102260945,0.0,0

In [63]:
series = msft.history(period = "100d")
# series = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [64]:
series

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-10-07,114.251867,115.178880,113.763435,114.710388,96849000,0.0,0
2020-10-08,115.876626,116.026146,114.221954,114.600739,83477200,0.0,0
2020-10-09,114.909740,116.624217,114.550896,116.594315,100506900,0.0,0
2020-10-12,119.674393,124.777951,118.896899,124.000458,240226800,0.0,0
2020-10-13,124.867649,124.987266,119.265705,120.711044,262330500,0.0,0
...,...,...,...,...,...,...,...
2021-02-24,124.940002,125.559998,122.230003,125.349998,111039900,0.0,0
2021-02-25,124.680000,126.459999,120.540001,120.989998,148199500,0.0,0
2021-02-26,122.589996,124.849998,121.199997,121.260002,164320000,0.0,0
2021-03-01,123.750000,127.930000,122.790001,127.790001,115998300,0.0,0
2021-03-02,128.410004,128.720001,125.010002,125.120003,102015300,0.0,0

In [109]:
yf.download(tickers = ['AAPL'],
                  period='100d')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-07,114.620003,115.550003,114.129997,115.080002,114.710388,96849000
2020-10-08,116.250000,116.400002,114.589996,114.970001,114.600739,83477200
2020-10-09,115.279999,117.000000,114.919998,116.970001,116.594315,100506900
2020-10-12,120.059998,125.180000,119.279999,124.400002,124.000458,240226800
2020-10-13,125.269997,125.389999,119.650002,121.099998,120.711044,262330500
...,...,...,...,...,...,...
2021-02-24,124.940002,125.559998,122.230003,125.349998,125.349998,111039900
2021-02-25,124.680000,126.459999,120.540001,120.989998,120.989998,148199500
2021-02-26,122.589996,124.849998,121.199997,121.260002,121.260002,164320000
2021-03-01,123.750000,127.930000,122.790001,127.790001,127.790001,115998300
2021-03-02,128.410004,128.720001,125.010002,125.120003,125.120003,102015300

#### Weird, data from two different methods in yfinance are returning slightly different open and close values. The adjusted close value matches the close value.

### Define functions for technical markers

In [65]:
# note trail_size includes the current record. 
def compute_highest_high(series, trail_size=20):
    """A function to take in a dataframe for one stock time series, 
    and return a pandas series for the hioghest high. """
    return series['High'].rolling(window=trail_size, min_periods=1).max()

In [66]:
def compute_lowest_low(series, trail_size=20):
    """A function to take in a dataframe for one stock time series, 
    and return a pandas series for the lowest low. """
    return series['Low'].rolling(window=trail_size, min_periods=1).min()

In [67]:
def compute_avg_vol(series, trail_size=20):
    """A function to take in a dataframe for one stock time series, 
    and return a pandas series for the average volume. """
    return series['Volume'].rolling(window=trail_size, min_periods=1).mean()

In [68]:
def compute_sma(series, trail_size=20):
    """A function to take in a dataframe for one stock time series, 
    and return a pandas series for the simple moving average. """
    return series['Close'].rolling(window=trail_size, min_periods=1).mean()

In [69]:
def compute_sd(series, trail_size=20):
    """A function to take in a dataframe for one stock time series, 
    and return a pandas series for the standard deviation. """
    return series['Close'].rolling(window=trail_size, min_periods=1).std()

#### A function to add markers to a given series

In [105]:
def add_technical_markers(series, trail_size=20):
    series['HH'] = compute_highest_high(series, trail_size)
    series['LL'] = compute_lowest_low(series, trail_size)
    series['AV'] = compute_avg_vol(series, trail_size)
    series['SMA'] = compute_sma(series, trail_size)
    series['SD'] = compute_sd(series, trail_size)
    return series

In [72]:
add_technical_markers(series, trail_size=3)

In [73]:
series.head(60)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,HH,LL,AV,SMA,SD
Date,,,,,,,,,,,,
2020-10-07,114.251867,115.178880,113.763435,114.710388,96849000,0.000,0,115.178880,113.763435,9.684900e+07,114.710388,NaN
2020-10-08,115.876626,116.026146,114.221954,114.600739,83477200,0.000,0,116.026146,113.763435,9.016310e+07,114.655563,0.077534
2020-10-09,114.909740,116.624217,114.550896,116.594315,100506900,0.000,0,116.624217,113.763435,9.361103e+07,115.301814,1.120680
2020-10-12,119.674393,124.777951,118.896899,124.000458,240226800,0.000,0,124.777951,114.221954,1.414036e+08,118.398504,4.952777
2020-10-13,124.867649,124.987266,119.265705,120.711044,262330500,0.000,0,124.987266,114.550896,2.010214e+08,120.435272,3.710765
2020-10-14,120.611374,122.634853,119.235809,120.800766,151062300,0.000,0,124.987266,118.896899,2.178732e+08,121.837423,1.873780
2020-10-15,118.338697,120.810728,117.770528,120.322304,112559200,0.000,0,124.987266,117.770528,1.753173e+08,120.611371,0.254328
2020-10-16,120.890469,121.159606,118.428401,118.637726,115393800,0.000,0,122.634853,117.770528,1.263384e+08,119.920265,1.136183
2020-10-19,119.574711,120.033233,115.288526,115.607498,120639300,0.000,0,121.159606,115.288526,1.161974e+08,118.189176,2.389194
2020-10-20,115.826793,118.597871,115.258624,117.132591,124423700,0.000,0,121.159606,115.258624,1.201523e+08,117.125938,1.515125
2020-10-21,116.295282,118.328731,116.075987,116.494644,89946000,0.000,0,120.033233,115.258624,1.116697e+08,116.411578,0.765932
2020-10-22,117.072772,117.660881,114.221957,115.378235,101988000,0.000,0,118.597871,114.221957,1.054526e+08,116.335157,0.887986
2020-10-23,116.016180,116.175669,113.912956,114.670517,82572600,0.000,0,118.328731,113.912956,9.150220e+07,115.514465,0.919662
2020-10-26,113.643828,116.175671,112.517452,114.680489,111850700,0.000,0,117.660881,112.517452,9.880377e+07,114.909747,0.405753
2020-10-27,115.119074,116.903326,114.172128,116.225510,92276800,0.000,0,116.903326,112.517452,9.556670e+07,115.192172,0.894911
2020-10-28,114.680491,115.059267,110.743172,110.842850,143937800,0.000,0,116.903326,110.743172,1.160218e+08,113.916283,2.771510
2020-10-29,112.009093,116.554445,111.839634,114.949615,146129200,0.000,0,116.903326,110.743172,1.274479e+08,114.005992,2.812664
2020-10-30,110.703292,111.630305,107.374023,108.510361,190272600,0.000,0,116.554445,107.374023,1.601132e+08,111.434275,3.260113
2020-11-02,108.759566,110.324523,106.975314,108.420654,122866900,0.000,0,116.554445,106.975314,1.530896e+08,110.626877,3.743870
2020-11-03,109.307795,111.131912,108.380782,110.085289,107624400,0.000,0,111.630305,106.975314,1.402546e+08,109.005435,0.936256
2020-11-04,113.773407,115.218747,111.989155,114.580803,138235500,0.000,0,115.218747,106.975314,1.229089e+08,111.028915,3.186641
2020-11-05,117.571164,119.235806,116.494639,118.647697,126387100,0.000,0,119.235806,108.380782,1.240823e+08,114.437930,4.282992
2020-11-06,118.143458,119.022142,115.956723,118.512909,114457900,0.205,0,119.235806,111.989155,1.263602e+08,117.247136,2.310096
2020-11-09,120.320202,121.807977,115.876845,116.146439,154515300,0.000,0,121.807977,115.876845,1.317868e+08,117.769015,1.406808
2020-11-10,115.377595,117.414545,113.959708,115.796967,138023400,0.000,0,121.807977,113.959708,1.356655e+08,116.818771,1.477535
2020-11-11,117.015143,119.451497,116.266262,119.311707,112295000,0.000,0,121.807977,113.959708,1.349446e+08,117.085037,1.936253
2020-11-12,119.441519,120.350158,118.393083,119.032127,103162300,0.000,0,120.350158,113.959708,1.178269e+08,118.046933,1.953536
2020-11-13,119.261786,119.491438,117.694129,119.082054,81581900,0.000,0,120.350158,116.266262,9.901307e+07,119.141963,0.149107
2020-11-16,118.742560,120.809472,117.973713,120.120506,91183000,0.000,0,120.809472,117.694129,9.197573e+07,119.411563,0.614471
2020-11-17,119.371626,120.489950,118.782502,119.211861,74271000,0.000,0,120.809472,117.694129,8.234530e+07,119.471474,0.565813
2020-11-18,118.433026,119.641220,117.823935,117.853889,76322100,0.000,0,120.809472,117.823935,8.059203e+07,119.062085,1.140707
2020-11-19,117.414546,118.882354,116.635711,118.462982,74113000,0.000,0,120.489950,116.635711,7.490203e+07,118.509577,0.680184
2020-11-20,118.462980,118.592784,117.114996,117.164917,73604300,0.000,0,119.641220,116.635711,7.467980e+07,117.827263,0.649442
2020-11-23,117.005155,117.444501,113.580273,113.680122,127959300,0.000,0,118.882354,113.580273,9.189220e+07,116.436007,2.473342
2020-11-24,113.740039,115.677139,112.422001,114.998154,113874200,0.000,0,118.592784,112.422001,1.051459e+08,115.281064,1.759539
2020-11-25,115.377593,116.575799,114.998155,115.856873,76499200,0.000,0,117.444501,112.422001,1.061109e+08,114.845050,1.096422
2020-11-27,116.396064,117.314690,116.046588,116.416031,46691300,0.000,0,117.314690,112.422001,7.902157e+07,115.757019,0.714193
2020-11-30,116.795470,120.789501,116.635705,118.872368,169410200,0.000,0,120.789501,114.998155,9.753357e+07,117.048424,1.604133
2020-12-01,120.829448,123.285777,119.830940,122.536896,128166800,0.000,0,123.285777,116.046588,1.147561e+08,119.275098,3.080242
2020-12-02,121.837931,123.185923,120.709620,122.896355,89004200,0.000,0,123.285777,116.635705,1.288604e+08,121.435206,2.226748
2020-12-03,123.335698,123.595312,122.027655,122.756569,78967600,0.000,0,123.595312,119.830940,9.871287e+07,122.729940,0.181203
2020-12-04,122.417073,122.676687,121.338682,122.067596,78260400,0.000,0,123.595312,120.709620,8.207740e+07,122.573507,0.443671
2020-12-07,122.127500,124.384130,122.067592,123.565353,86712000,0.000,0,124.384130,121.338682,8.131333e+07,122.796506,0.749677
2020-12-08,124.184433,124.793523,122.906336,124.194412,82225500,0.000,0,124.793523,121.338682,8.239930e+07,123.275787,1.092576
2020-12-09,124.344186,125.762066,120.819455,121.598289,115089200,0.000,0,125.762066,120.819455,9.467557e+07,123.119352,1.354308
2020-12-10,120.320205,123.685179,119.970728,123.056114,81312200,0.000,0,125.762066,119.970728,9.287563e+07,122.949605,1.301334
2020-12-11,122.247323,122.576832,120.370131,122.227356,86939800,0.000,0,125.762066,119.970728,9.444707e+07,122.293920,0.731188
2020-12-14,122.417066,123.165947,121.358650,121.598289,79184500,0.000,0,123.685179,119.970728,8.247883e+07,122.293920,0.731188
2020-12-15,124.154467,127.709161,123.944782,127.689186,157572300,0.000,0,127.709161,120.370131,1.078989e+08,123.838277,3.349784
2020-12-16,127.219896,128.178455,126.371158,127.619293,98208600,0.000,0,128.178455,121.358650,1.116551e+08,125.635590,3.496579
2020-12-17,128.707664,129.386657,127.848946,128.507965,94359800,0.000,0,129.386657,123.944782,1.167136e+08,127.938815,0.494136
2020-12-18,128.767587,128.907378,125.931821,126.471016,192541500,0.000,0,129.386657,125.931821,1.283700e+08,127.532758,1.021228
2020-12-21,124.833456,128.118548,123.265799,128.038666,121251600,0.000,0,129.386657,123.265799,1.360510e+08,127.672549,1.066687
2020-12-22,131.413626,134.209451,129.456544,131.683228,168904800,0.000,0,134.209451,123.265799,1.608993e+08,128.730970,2.674182
2020-12-23,131.962809,132.232395,130.584863,130.764603,88223700,0.000,0,134.209451,123.265799,1.261267e+08,130.162165,1.895496
2020-12-24,131.124063,133.260869,130.904390,131.773087,54930100,0.000,0,134.209451,129.456544,1.040195e+08,131.406972,0.558120
2020-12-28,133.790085,137.135078,133.310790,136.486053,124486200,0.000,0,137.135078,130.584863,8.921333e+07,133.007914,3.054071
2020-12-29,137.844025,138.582912,134.139554,134.668762,121047300,0.000,0,138.582912,130.904390,1.001545e+08,134.309301,2.376957
2020-12-30,135.377703,135.787094,133.200947,133.520477,96452100,0.000,0,138.582912,133.200947,1.139952e+08,134.891764,1.495312
2020-12-31,133.879945,134.538964,131.523466,132.492020,99116600,0.000,0,138.582912,131.523466,1.055387e+08,133.560420,1.088921

In [74]:
top100tech = ['AAPL',
'MSFT',
'TSM',
'NVDA',
'INTC',
'ASML',
'ADBE',
'CRM',
'AVGO',
'ORCL',
'CSCO',
'ACN',
'TXN',
'SHOP',
'QCOM',
'SAP',
'SNE',
'AMAT',
'INTU',
'NOW',
'SQ',
'IBM',
'MU',
'AMD',
'UBER',
'FIS',
'LRCX',
'FISV',
'SNOW',
'INFY',
'TEAM',
'ADSK',
'DELL',
'WDAY',
'VMW',
'ADI',
'NXPI',
'KLAC',
'CRWD',
'PLTR',
'DOCU',
'TEL',
'ERIC',
'MCHP',
'CDNS',
'CTSH',
'APH',
'SNPS',
'HPQ',
'PANW',
'OKTA',
'RNG',
'STM',
'MRVL',
'XLNX',
'WIT',
'MSI',
'SWKS',
'GLW',
'DDOG',
'ANSS',
'U',
'ZS',
'FTNT',
'STNE',
'ZBRA',
'KEYS',
'FTV',
'MXIM',
'COUP',
'GRMN',
'SPLK',
'HUBS',
'WORK',
'NET',
'FLT',
'CDW',
'CAJ',
'AFRM',
'PAYC',
'TER',
'VRSN',
'WDC',
'ZI',
'UMC',
'ANET',
'EPAM',
'UI',
'XM',
'GIB',
'TRMB',
'TYL',
'WIX',
'HPE',
'LYFT',
'LOGI',
'MPWR']

In [75]:
# tickers = pd.Series(top100tech).apply(yf.Ticker)

In [76]:
# hacky way to get lots of data
# hist_datas = tickers.apply(lambda x: x.history(period="5d"))

In [77]:
' '.join(top100tech)

'AAPL MSFT TSM NVDA INTC ASML ADBE CRM AVGO ORCL CSCO ACN TXN SHOP QCOM SAP SNE AMAT INTU NOW SQ IBM MU AMD UBER FIS LRCX FISV SNOW INFY TEAM ADSK DELL WDAY VMW ADI NXPI KLAC CRWD PLTR DOCU TEL ERIC MCHP CDNS CTSH APH SNPS HPQ PANW OKTA RNG STM MRVL XLNX WIT MSI SWKS GLW DDOG ANSS U ZS FTNT STNE ZBRA KEYS FTV MXIM COUP GRMN SPLK HUBS WORK NET FLT CDW CAJ AFRM PAYC TER VRSN WDC ZI UMC ANET EPAM UI XM GIB TRMB TYL WIX HPE LYFT LOGI MPWR'

In [124]:
data = yf.download(tickers = ' '.join(top100tech),
                  period='365d')

[*********************100%***********************]  97 of 97 completed

In [125]:
data

             Adj Close                                                  \
                  AAPL         ACN        ADBE         ADI        ADSK
Date
2019-09-19   54.521626  190.124924  281.260010  112.520859  153.380005
2019-09-20   53.724625  188.581833  277.910004  111.986809  153.339996
2019-09-23   53.968906  188.337677  277.440002  110.976944  152.369995
2019-09-24   53.712284  185.700699  272.470001  107.743477  149.130005
2019-09-25   54.538898  186.413681  277.429993  109.413620  147.429993
...                ...         ...         ...         ...         ...
2021-02-24  125.349998  259.269989  476.619995  161.069992  298.910004
2021-02-25  120.989998  253.779999  459.160004  153.679993  284.029999
2021-02-26  121.260002  250.899994  459.670013  155.820007  276.000000
2021-03-01  127.790001  258.160004  469.570007  158.589996  284.269989
2021-03-02  125.120003  259.230011  466.589996  154.289993  277.920013

                                                                       ...  \
                  AFRM        AMAT        AMD        ANET        ANSS  ...
Date                                                                   ...
2019-09-19         NaN   50.720127  30.290001  244.130005  219.050003  ...
2019-09-20         NaN   50.013496  30.049999  240.059998  216.570007  ...
2019-09-23         NaN   50.798637  30.639999  240.750000  216.729996  ...
2019-09-24         NaN   50.209782  29.520000  238.039993  213.860001  ...
2019-09-25         NaN   50.965481  29.540001  241.559998  215.639999  ...
...                ...         ...        ...         ...         ...  ...
2021-02-24  102.489998  122.809998  86.940002  286.359985  385.369995  ...
2021-02-25   94.195000  113.930000  82.419998  280.260010  338.459991  ...
2021-02-26   93.059998  118.190002  84.510002  279.839996  340.989990  ...
2021-03-01   91.440002  122.250000  86.389999  287.940002  346.109985  ...
2021-03-02   91.800003  117.500000  84.129997  284.299988  336.329987  ...

             Volume                                                            \
               WDAY      WDC      WIT      WIX      WORK      XLNX         XM
Date
2019-09-19  1622100  4108100  1533700   364600   6447000   1909200        NaN
2019-09-20  2550800  8623700  1499400   386400   9361200  11012000        NaN
2019-09-23  1311900  3123200  1019000   401000  13344700   3821800        NaN
2019-09-24  2126600  3930200  1905900   784800  10589900   3443700        NaN
2019-09-25  2421400  6285500   615800   821000  13027600   3488800        NaN
...             ...      ...      ...      ...       ...       ...        ...
2021-02-24  1841700  6164300  2107400   708200   6565300   3820700  1109700.0
2021-02-25  2311600  3774000  2044700   959000   8744800   2877100  2047400.0
2021-02-26  4429400  4821000  3001400  1041800  12436900   2488900  1641300.0
2021-03-01  2794300  6578300  2027100   737600   6946700   2156200  1836400.0
2021-03-02  1333600  4515400  1751000   601500   4006500   1726400  2223200.0


              ZBRA         ZI       ZS
Date
2019-09-19  305500        NaN  5432500
2019-09-20  534600        NaN  6801900
2019-09-23  266200        NaN  2970100
2019-09-24  337900        NaN  3343200
2019-09-25  330100        NaN  3053800
...            ...        ...      ...
2021-02-24  462900  4047100.0  1684100
2021-02-25  722100  3483700.0  2557500
2021-02-26  551600  3595100.0  3721700
2021-03-01  341100  1977500.0  1917300
2021-03-02  264000  1391400.0  1788600

[365 rows x 582 columns]

In [126]:
df = pd.melt(data, ignore_index=False)
df.columns = ['Variable', 'Ticker', 'Value']

In [127]:
# this is a nicely formed dataframe of historical data
nice_df = df.reset_index().pivot(index=['Ticker', 'Date'], columns=['Variable'], values=['Value'])

In [128]:
nice_df.columns = nice_df.columns.droplevel()

In [129]:
nice_df

Variable            Adj Close       Close        High         Low        Open  \
Ticker Date
AAPL   2019-09-19   54.521626   55.240002   55.939999   55.092499   55.502499
       2019-09-20   53.724625   54.432499   55.639999   54.367500   55.345001
       2019-09-23   53.968906   54.680000   54.959999   54.412498   54.737499
       2019-09-24   53.712284   54.419998   55.622501   54.297501   55.257500
       2019-09-25   54.538898   55.257500   55.375000   54.285000   54.637501
...                       ...         ...         ...         ...         ...
ZS     2021-02-24  207.809998  207.809998  210.789993  203.550003  208.380005
       2021-02-25  195.789993  195.789993  210.910004  194.339996  204.000000
       2021-02-26  205.029999  205.029999  224.080002  197.082001  213.100006
       2021-03-01  210.160004  210.160004  211.139999  202.179993  208.750000
       2021-03-02  202.610001  202.610001  212.000000  202.270004  212.000000

Variable                Volume
Ticker Date
AAPL   2019-09-19   88242400.0
       2019-09-20  221652400.0
       2019-09-23   76662000.0
       2019-09-24  124763200.0
       2019-09-25   87613600.0
...                        ...
ZS     2021-02-24    1684100.0
       2021-02-25    2557500.0
       2021-02-26    3721700.0
       2021-03-01    1917300.0
       2021-03-02    1788600.0

[35405 rows x 6 columns]

In [130]:
df = nice_df.reset_index()

In [131]:
df.columns.name=None

In [132]:
df.head(30)

,Ticker,Date,Adj Close,Close,High,Low,Open,Volume
0,AAPL,2019-09-19,54.521626,55.240002,55.939999,55.092499,55.502499,88242400.0
1,AAPL,2019-09-20,53.724625,54.432499,55.639999,54.367500,55.345001,221652400.0
2,AAPL,2019-09-23,53.968906,54.680000,54.959999,54.412498,54.737499,76662000.0
3,AAPL,2019-09-24,53.712284,54.419998,55.622501,54.297501,55.257500,124763200.0
4,AAPL,2019-09-25,54.538898,55.257500,55.375000,54.285000,54.637501,87613600.0
5,AAPL,2019-09-26,54.257603,54.972500,55.235001,54.707500,55.000000,75334000.0
6,AAPL,2019-09-27,53.993587,54.705002,55.240002,54.320000,55.134998,101408000.0
7,AAPL,2019-09-30,55.264339,55.992500,56.145000,55.197498,55.224998,103909600.0
8,AAPL,2019-10-01,55.417320,56.147499,57.055000,56.049999,56.267502,139223200.0
9,AAPL,2019-10-02,54.028126,54.740002,55.895000,54.482498,55.764999,138449200.0
10,AAPL,2019-10-03,54.487080,55.205002,55.240002,53.782501,54.607498,114426000.0
11,AAPL,2019-10-04,56.014454,56.752499,56.872501,55.972500,56.410000,138478800.0
12,AAPL,2019-10-07,56.026794,56.764999,57.482498,56.459999,56.567501,122306000.0
13,AAPL,2019-10-08,55.370438,56.099998,57.014999,56.082500,56.455002,111820000.0
14,AAPL,2019-10-09,56.019390,56.757500,56.947498,56.410000,56.757500,74770400.0
15,AAPL,2019-10-10,56.774445,57.522499,57.610001,56.825001,56.982498,113013600.0
16,AAPL,2019-10-11,58.284546,59.052502,59.410000,58.077499,58.237499,166795600.0
17,AAPL,2019-10-14,58.200645,58.967499,59.532501,58.667500,58.724998,96427600.0
18,AAPL,2019-10-15,58.064941,58.830002,59.412498,58.720001,59.097500,87360000.0
19,AAPL,2019-10-16,57.830528,58.592499,58.810001,58.299999,58.342499,73903200.0
20,AAPL,2019-10-17,58.055065,58.820000,59.037498,58.380001,58.772499,67585200.0
21,AAPL,2019-10-18,58.333900,59.102501,59.395000,58.572498,58.647499,97433600.0
22,AAPL,2019-10-21,59.345562,60.127499,60.247501,59.330002,59.380001,87247200.0
23,AAPL,2019-10-22,59.209858,59.990002,60.549999,59.904999,60.290001,82293600.0
24,AAPL,2019-10-23,60.004383,60.794998,60.810001,60.305000,60.525002,75828800.0
25,AAPL,2019-10-24,60.103081,60.895000,61.200001,60.452499,61.127499,69275200.0
26,AAPL,2019-10-25,60.843334,61.645000,61.682499,60.720001,60.790001,73477200.0
27,AAPL,2019-10-28,61.452797,62.262501,62.312500,61.680000,61.855000,96572800.0
28,AAPL,2019-10-29,60.031528,60.822498,62.437500,60.642502,62.242500,142839600.0
29,AAPL,2019-10-30,60.024124,60.814999,61.325001,60.302502,61.189999,124522000.0

In [133]:
# df[df['Ticker']=='AAPL']

In [134]:
# df[df['Close']>126]

In [136]:
# compute all our technical markers for each of the stocks. 
df.groupby('Ticker').apply(add_technical_markers)

,Ticker,Date,Adj Close,Close,High,Low,Open,Volume,HH,LL,AV,SMA,SD
0,AAPL,2019-09-19,54.521626,55.240002,55.939999,55.092499,55.502499,88242400.0,55.939999,55.092499,8.824240e+07,55.240002,NaN
1,AAPL,2019-09-20,53.724625,54.432499,55.639999,54.367500,55.345001,221652400.0,55.939999,54.367500,1.549474e+08,54.836250,0.570991
2,AAPL,2019-09-23,53.968906,54.680000,54.959999,54.412498,54.737499,76662000.0,55.939999,54.367500,1.288523e+08,54.784167,0.413707
3,AAPL,2019-09-24,53.712284,54.419998,55.622501,54.297501,55.257500,124763200.0,55.939999,54.297501,1.278300e+08,54.693125,0.383741
4,AAPL,2019-09-25,54.538898,55.257500,55.375000,54.285000,54.637501,87613600.0,55.939999,54.285000,1.197867e+08,54.806000,0.417309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35400,ZS,2021-02-24,207.809998,207.809998,210.789993,203.550003,208.380005,1684100.0,230.880997,187.759995,1.819355e+06,215.021999,8.830790
35401,ZS,2021-02-25,195.789993,195.789993,210.910004,194.339996,204.000000,2557500.0,230.880997,190.600006,1.815230e+06,214.850499,9.180221
35402,ZS,2021-02-26,205.029999,205.029999,224.080002,197.082001,213.100006,3721700.0,230.880997,190.600006,1.926835e+06,214.787999,9.245663
35403,ZS,2021-03-01,210.160004,210.160004,211.139999,202.179993,208.750000,1917300.0,230.880997,190.600006,1.935370e+06,215.310999,8.622075
35404,ZS,2021-03-02,202.610001,202.610001,212.000000,202.270004,212.000000,1788600.0,230.880997,190.600006,1.953060e+06,215.217999,8.754183

In [94]:
stocks = [pd.DataFrame(d) for d in df.groupby("Ticker")]

In [97]:
stocks[1]

                                                   0
0                                                ACN
1      Ticker       Date   Adj Close       Close ...