In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [63]:
msft = yf.Ticker("AAPL")
print(msft)

yfinance.Ticker object <AAPL>

In [64]:
msft.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 121.26,
 'regularMarketOpen': 123.75,
 'twoHundredDayAverage': 122.9772,
 'trailingAnnualDividendYield': 0.0066551208,
 'payoutRatio': 0.2177,
 'volume24Hr': None,
 'regularMarketDayHigh': 127.93,
 'navPrice': None,
 'averageDailyVolume10Day': 137149760,
 'totalAssets': None,
 'regularMarketPreviousClose': 121.26,
 'fiftyDayAverage': 132.6306,
 'trailingAnnualDividendRate': 0.807,
 'open': 123.75,
 'toCurrency': None,
 'averageVolume10days': 137149760,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.82,
 'exDividendDate': 1612483200,
 'beta': 1.267876,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 122.79,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 34.659615,
 'regularMarketVolume': 116307692,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2145351368704,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 106246233,
 'priceToSalesTrailing12Months': 7.293764,
 'dayLow': 122.79,
 'ask': 128.75,
 'ytdReturn': None,
 'askSize': 1100,
 'volume': 116307692,
 'fiftyTwoWeekHigh': 145.09,
 'forwardPE': 27.305557,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.41,
 'fiftyTwoWeekLow': 53.1525,
 'bid': 128.74,
 'tradeable': False,
 'dividendYield': 0.0068,
 'bidSize': 1000,
 'dayHigh': 127.93,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.041,
 'beta3Year': None,
 'profitMargins': 0.21735,
 'enterpriseToEbitda': 24.319,
 '52WeekChange': 0.6764828,
 'morningStarRiskRating': None,
 'forwardEps': 4.68,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16788100096,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 3.936,
 'sharesShort': 88329668,
 'sharesPercentSharesOut': 0.0053,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.59661996,
 'netIncomeToCommon': 63929999360,
 'trailingEps': 3.687,
 'lastDividendValue': 0.205,
 'SandP52WeekChange': 0.26895785,
 'priceToBook': 32.466972,
 'heldPercentInsiders': 0.00065,
 'nextFiscalYearEnd': 1664150400,
 'mostRecentQuarter': 1608940800,
 'shortRatio': 0.88,
 'sharesShortPreviousMonthDate': 1610668800,
 'floatShares': 16770804261,
 'enterpriseValue': 2070941532160,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1612483200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.293,
 'dateShortInterest': 1613088000,
 'pegRatio': 2.02,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0053,
 'sharesShortPriorMonth': 99897228,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 123.75,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [65]:
msft.history(period="5d")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-23,123.760002,126.709999,118.389999,125.860001,158273000,0,0
2021-02-24,124.940002,125.559998,122.230003,125.349998,111039900,0,0
2021-02-25,124.680000,126.459999,120.540001,120.989998,148199500,0,0
2021-02-26,122.589996,124.849998,121.199997,121.260002,164320000,0,0
2021-03-01,123.750000,127.930000,122.790001,127.790001,115998300,0,0

In [6]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0

[78 rows x 2 columns]

In [37]:
top100tech = ['AAPL',
'MSFT',
'TSM',
'NVDA',
'INTC',
'ASML',
'ADBE',
'CRM',
'AVGO',
'ORCL',
'CSCO',
'ACN',
'TXN',
'SHOP',
'QCOM',
'SAP',
'SNE',
'AMAT',
'INTU',
'NOW',
'SQ',
'IBM',
'MU',
'AMD',
'UBER',
'FIS',
'LRCX',
'FISV',
'SNOW',
'INFY',
'TEAM',
'ADSK',
'DELL',
'WDAY',
'VMW',
'ADI',
'NXPI',
'KLAC',
'CRWD',
'PLTR',
'DOCU',
'TEL',
'ERIC',
'MCHP',
'CDNS',
'CTSH',
'APH',
'SNPS',
'HPQ',
'PANW',
'OKTA',
'RNG',
'STM',
'MRVL',
'XLNX',
'WIT',
'MSI',
'SWKS',
'GLW',
'DDOG',
'ANSS',
'U',
'ZS',
'FTNT',
'STNE',
'ZBRA',
'KEYS',
'FTV',
'MXIM',
'COUP',
'GRMN',
'SPLK',
'HUBS',
'WORK',
'NET',
'FLT',
'CDW',
'CAJ',
'AFRM',
'PAYC',
'TER',
'VRSN',
'WDC',
'ZI',
'UMC',
'ANET',
'EPAM',
'UI',
'XM',
'GIB',
'TRMB',
'TYL',
'WIX',
'HPE',
'LYFT',
'LOGI',
'MPWR']

In [25]:
# tickers = pd.Series(top100tech).apply(yf.Ticker)

In [26]:
# hacky way to get lots of data
# hist_datas = tickers.apply(lambda x: x.history(period="5d"))

In [27]:
' '.join(top100tech)

'AAPL MSFT TSM NVDA INTC ASML ADBE CRM AVGO ORCL CSCO ACN TXN SHOP QCOM SAP SNE AMAT INTU NOW SQ IBM MU AMD UBER FIS LRCX FISV SNOW INFY TEAM ADSK DELL WDAY VMW ADI NXPI KLAC CRWD PLTR DOCU TEL ERIC MCHP CDNS CTSH APH SNPS HPQ PANW OKTA RNG STM MRVL XLNX WIT MSI SWKS GLW DDOG ANSS U ZS FTNT STNE ZBRA KEYS FTV MXIM COUP GRMN SPLK HUBS WORK NET FLT FTV CDW CAJ AFRM PAYC TER VRSN WDC ZI UMC ANET EPAM UI QRVO,PAGS XM GIB TRMB TYL WIX HPE LYFT LOGI MPWR'

In [53]:
data = yf.download(tickers = ' '.join(top100tech),
                  period='5d')

[*********************100%***********************]  97 of 97 completed

In [54]:
data.head()

             Adj Close                                                  \
                  AAPL         ACN        ADBE         ADI        ADSK
Date
2021-02-23  125.860001  256.190002  467.799988  157.027313  290.250000
2021-02-24  125.349998  259.269989  476.619995  161.069992  298.910004
2021-02-25  120.989998  253.779999  459.160004  153.679993  284.029999
2021-02-26  121.260002  250.899994  459.670013  155.820007  276.000000
2021-03-01  127.790001  258.160004  469.570007  158.589996  284.269989

                                                                       ...  \
                  AFRM        AMAT        AMD        ANET        ANSS  ...
Date                                                                   ...
2021-02-23  102.010002  115.919998  84.739998  287.079987  375.559998  ...
2021-02-24  102.489998  122.809998  86.940002  286.359985  385.369995  ...
2021-02-25   94.195000  113.930000  82.419998  280.260010  338.459991  ...
2021-02-26   93.059998  118.190002  84.510002  279.839996  340.989990  ...
2021-03-01   91.440002  122.250000  86.389999  287.940002  346.109985  ...

             Volume                                                         \
               WDAY      WDC      WIT      WIX      WORK     XLNX       XM
Date
2021-02-23  1943500  4413400  3050700  1195100   5171500  2868100  2521400
2021-02-24  1841700  6164300  2107400   708200   6565300  3820700  1109700
2021-02-25  2311600  3774000  2044700   959000   8744800  2877100  2047400
2021-02-26  4429400  4821000  3001400  1041800  12436900  2488900  1641300
2021-03-01  2794300  6578300  2027100   737600   6946700  2156200  1836400


              ZBRA        ZI       ZS
Date
2021-02-23  886300  12788900  3704100
2021-02-24  462900   4047100  1684100
2021-02-25  722100   3483700  2557500
2021-02-26  551600   3595100  3721700
2021-03-01  341100   1977500  1917300

[5 rows x 582 columns]

In [45]:
pd.melt(data.reset_index(), id_vars=['Date'])

           Date variable_0 variable_1         value
0    2021-02-23  Adj Close       AAPL  1.258600e+02
1    2021-02-24  Adj Close       AAPL  1.253500e+02
2    2021-02-25  Adj Close       AAPL  1.209900e+02
3    2021-02-26  Adj Close       AAPL  1.212600e+02
4    2021-03-01  Adj Close       AAPL  1.277900e+02
...         ...        ...        ...           ...
2965 2021-02-23     Volume         ZS  3.704100e+06
2966 2021-02-24     Volume         ZS  1.684100e+06
2967 2021-02-25     Volume         ZS  2.557500e+06
2968 2021-02-26     Volume         ZS  3.721700e+06
2969 2021-03-01     Volume         ZS  1.917300e+06

[2970 rows x 4 columns]

In [55]:
df = pd.melt(data, ignore_index=False)
df.columns = ['Variable', 'Ticker', 'Value']

In [67]:
# this is a nicely formed dataframe of historical data
df.reset_index().pivot(index=['Ticker', 'Date'], columns=['Variable'], values=['Value']).head(40)

                        Value                                                  \
Variable            Adj Close       Close        High         Low        Open
Ticker Date
AAPL   2021-02-23  125.860001  125.860001  126.709999  118.389999  123.760002
       2021-02-24  125.349998  125.349998  125.559998  122.230003  124.940002
       2021-02-25  120.989998  120.989998  126.459999  120.540001  124.680000
       2021-02-26  121.260002  121.260002  124.849998  121.199997  122.589996
       2021-03-01  127.790001  127.790001  127.930000  122.790001  123.750000
ACN    2021-02-23  256.190002  256.190002  257.929993  250.589996  251.559998
       2021-02-24  259.269989  259.269989  260.470001  252.820007  253.210007
       2021-02-25  253.779999  253.779999  259.109985  252.580002  258.980011
       2021-02-26  250.899994  250.899994  255.850006  249.809998  255.240005
       2021-03-01  258.160004  258.160004  259.799988  254.000000  254.000000
ADBE   2021-02-23  467.799988  467.799988  471.440002  450.119995  461.019989
       2021-02-24  476.619995  476.619995  477.350006  460.290009  463.489990
       2021-02-25  459.160004  459.160004  476.309998  456.010010  471.239990
       2021-02-26  459.670013  459.670013  467.320007  456.010010  462.799988
       2021-03-01  469.570007  469.570007  470.500000  462.649994  465.679993
ADI    2021-02-23  157.027313  157.699997  158.669998  153.309998  157.360001
       2021-02-24  161.069992  161.759995  161.919998  155.160004  156.520004
       2021-02-25  153.679993  153.679993  160.149994  153.289993  158.699997
       2021-02-26  155.820007  155.820007  157.750000  152.259995  156.559998
       2021-03-01  158.589996  158.589996  158.779999  155.029999  157.080002
ADSK   2021-02-23  290.250000  290.250000  293.519989  284.559998  292.410004
       2021-02-24  298.910004  298.910004  299.149994  280.619995  281.329987
       2021-02-25  284.029999  284.029999  298.769989  282.250000  294.809998
       2021-02-26  276.000000  276.000000  291.980011  274.820007  283.450012
       2021-03-01  284.269989  284.269989  284.720001  278.070007  279.859985
AFRM   2021-02-23  102.010002  102.010002  102.349998   91.099998   99.260002
       2021-02-24  102.489998  102.489998  103.750000   98.705002   99.279999
       2021-02-25   94.195000   94.195000  101.000000   90.000000   99.930000
       2021-02-26   93.059998   93.059998   97.820000   91.029999   92.180000
       2021-03-01   91.440002   91.440002   96.349998   90.809998   95.500000
AMAT   2021-02-23  115.919998  116.139999  117.800003  110.690002  112.860001
       2021-02-24  122.809998  122.809998  123.019997  114.419998  115.050003
       2021-02-25  113.930000  113.930000  121.220001  113.599998  121.169998
       2021-02-26  118.190002  118.190002  120.250000  113.440002  116.529999
       2021-03-01  122.250000  122.250000  122.480003  119.459999  121.180000
AMD    2021-02-23   84.739998   84.739998   85.110001   79.360001   83.400002
       2021-02-24   86.940002   86.940002   87.089996   82.809998   84.330002
       2021-02-25   82.419998   82.419998   87.089996   81.919998   86.169998
       2021-02-26   84.510002   84.510002   85.589996   82.910004   83.570000
       2021-03-01   86.389999   86.389999   86.500000   83.970001   85.370003


Variable                Volume
Ticker Date
AAPL   2021-02-23  158273000.0
       2021-02-24  111039900.0
       2021-02-25  148199500.0
       2021-02-26  164320000.0
       2021-03-01  115998300.0
ACN    2021-02-23    2191300.0
       2021-02-24    2476300.0
       2021-02-25    2157700.0
       2021-02-26    2712800.0
       2021-03-01    1954700.0
ADBE   2021-02-23    4164300.0
       2021-02-24    3390600.0
       2021-02-25    3252500.0
       2021-02-26    3154500.0
       2021-03-01    2358600.0
ADI    2021-02-23    3022200.0
       2021-02-24    2748700.0
       2021-02-25    3282600.0
       2021-02-26    5574200.0
       2021-03-01    3385500.0
ADSK   2021-02-23    1487200.0
       2021-02-24    1397400.0
       2021-02-25    1489300.0
       2021-02-26    2529200.0
       2021-03-01    1831000.0
AFRM   2021-02-23    4105200.0
       2021-02-24    1894100.0
       2021-02-25    5472000.0
       2021-02-26    2596700.0
       2021-03-01    2913300.0
AMAT   2021-02-23    9387900.0
       2021-02-24   10098100.0
       2021-02-25   11352800.0
       2021-02-26   11624400.0
       2021-03-01    7003000.0
AMD    2021-02-23   49720900.0
       2021-02-24   40821200.0
       2021-02-25   54625100.0
       2021-02-26   48936100.0
       2021-03-01   32716700.0

In [58]:
# df.pivot(columns=['Variable'], values=['Ticker', 'Value'])

ValueError: Index contains duplicate entries, cannot reshape